@{
    ViewData["Title"] = "About Portfolio ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p class="jumbotron">creado por Ricardo Rubio. contiene un uso basico de HTML y ASP</p>
<div class=" jumbotron">
    <div class="card" style="width: 20rem; align-content: center ">
        <img class="card-img-top" src="~/images/ic_cloud_done_black_36px.svg" alt="Card image cap">

        <div class="card-body">
            <h4 class="card-title">Parciales</h4>
            <p class="card-text">En este folder se podran encontrar los parciales realizados.</p>
            <a href="https://github.com/kornofilo/soft8parciales" class="btn btn-primary">Go to Github!</a>
        </div>
    </div>
    </div>
    <br />
    <div class=" jumbotron">
        <div class="card" style="width: 20rem; align-content: center">
            <img class="card-img-top" src="~/images/ic_cloud_done_black_36px.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Proyecto</h4>
                <p class="card-text">En este folder el repositorio del proycto de curso.</p>
                <a href="https://github.com/kornofilo/des8grupal/" class="btn btn-primary">Go to Github!</a>
            </div>
        </div>
    </div>
    <br />
    <div class=" jumbotron">
        <div class="card" style="width: 20rem; align-content: center">
            <img class="card-img-top" src="~/images/ic_cloud_done_black_36px.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Laboratorios</h4>
                <p class="card-text">En este folder se podran encontrar los laboratorios realizados.</p>
                <a href="https://github.com/kornofilo/soft8laboratorios" class="btn btn-primary">Go to Github!</a>
            </div>
        </div>
    </div>
    <br />
    <div class=" jumbotron">
        <div class="card" style="width: 20rem; align-content: center">
            <img class="card-img-top" src="~/images/ic_cloud_done_black_36px.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Repo del portafolio.</h4>
                <p class="card-text">En este folder se podra el codigo fuente del portafolio.</p>
                <a href="https://github.com/kornofilo/portasoft8" class="btn btn-primary">Go to Github!</a>
            </div>
        </div>
    </div>
